body,
html {
    background-color: #98bae7;
    margin: 0px;
    text-align: center;
    font-family: Arial, sans-serif;
}

br {
    line-height: 500px;
    display: block;
}

.bolded-header {
    color: #4C3F91;
    text-align: right;
    margin-top: 0;
}

.bolded-p {
    line-height: 2;
    text-align: right;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 20px 8px 20px;
    text-decoration: none;
    position: relative;
    top: 30px;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #adc2a9);
    background-image: -moz-linear-gradient(top, #30e3cb, #adc2a9);
    background-image: -ms-linear-gradient(top, #30e3cb, #adc2a9);
    background-image: -o-linear-gradient(top, #30e3cb, #adc2a9);
    background-image: linear-gradient(to bottom, #30e3cb, #adc2a9);
    text-decoration: none;
}

.Container-3 {
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 40px;
    line-height: 2;
    background-color: #66bfbf;
}

.Container-2 > hr:first-of-type {
    background-color: #66bfbf;
    width: 15%;
    height: 2.5px;
    border: 0;
    margin: 40px auto 50px auto;
}

.Container-2 > hr:last-of-type {
    background-color: #9AD0EC;
    height: 1px;
    border: 0px;
}

.Container-3 > p:first-of-type {
    color: #eaf6f6;
    height: 1px;
    font-size: 14px;
    padding-top: 5px;
}

.Container-3 > a {
    background-color: #C0D8C0;
    font-weight: bold;
    text-decoration: none;
}

.contact-me {
    margin-bottom: 40px;
}

.contact-me > h2,
h3 {
    color: #370665;
}

/*column-width is used to equally, yet horiontally space out texts in an inline-block elements*/



.footer-link {
    color: #396EB0;
    width: 100px;
    height: 30px;
    display: inline-block;
}

.footer-link:hover {
    color: #1A1A40;
}

.last-part {
    line-height: 15px;
}

.tutor-description {
    clear: none;
}

.second-header {
    font-size: 1.55rem;
    color: #b1e693;
}

.second-strong-header {
    font-weight: stronger;
    color: #7267CB;
    font-family: 'Open Sans Condensed', Sacramento;
    letter-spacing: 2.5px;
    text-shadow: sienna;
}

img {
    display: inline-block;
}

.Container-1 {
    background-color: #66bfbf;
    padding: 120px 0 0 0;
    height: 100px;
    border: solid 0px;
    border-color: gray;
    position: relative;
}

h1 {
    margin-top: 5px;
    font-family: "Sacramento", cursive;
    color: #b1e693;
    font-size: 3.125rem;
}

h2 {
    font-weight: bolder;
}

p {
    font-family: "Montserrat Alternates", sans-serif;
}

.profile {
    background-color: ##66bfbf;
}

.profile > p:first-of-type {
    width: 60%;
    margin: auto;
    line-height: 36px;
}

.profile-pic {
    border-radius: 100%;
    width: 250px;
    height: 250px;
}

.devices {
    border-radius: 100%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-3 {
    height: 25%;
    width: 25%;
    padding: auto;
    float: right;
    margin-left: 10px;
    margin-bottom: 0%;
    border-bottom: -150px;
    border-radius: 100% 100%;
}

.skill-row {
    margin: 100px 25% 0 25%;
    text-align: left;
}

.skills {
    margin-top: 0%;
    padding-top: -100%;
}

.skills > h2 {
    color: #f3f0d7;
}

.hobby {
    margin: 100px 25%;
    text-align: left;
    line-height: 1.5;
}

.hobby > h3 {
    color: #4C3F91;
}

.profession {
    text-decoration: underline;
}

.Top-Cloud {
    position: absolute;
    right: 300px;
    bottom: 120px;
}

.Middle-Cloud {
    position: absolute;
    left: 300px;
}

.reach-me {
    color: #11999e;
}
